<%include ./partials/pre-top.ejs %>
<%include ./partials/top.ejs %>

	<h1>Something Broke !!</h1>

	<% errors.forEach(function(error) { %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<p class="mb-0"><%= error.msg %></p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% }); %>

	<a href="<%= backurl %>" class="btn btn-primary btn-block"> &lt;&lt; Go Back</a>

<%include ./partials/bottom.ejs %>
