<%include ./partials/top.ejs %>
	<div class="table-responsive">
		<table class="table table-hover table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th class="text-nowrap">Username</th>
					<th>Admin</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

				<% userList.forEach(function(obj, index){ %>
					<tr>
							<th><%= index %></th>
							<td><%= obj.username %></td>
							<td>
								<% if(obj.admin) { %>
									<span class="badge badge-success"> Admin </span>
								<% } else { %>
									<span class="badge badge-secondary"> Not Admin </span>
								<% } %>
							</td>
							<td><a href="/users/editUser/<%= obj.username %>">edit</a></td>
					</tr>
				<% }); %>

			</tbody>
		</table>
	</div>
<%include ./partials/bottom.ejs %>
