<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=2.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<table>
		<thead>
			<th>Code</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<% tagList.forEach(function(el, index) { %>
				<!-- // el - current element, i - index -->
				<tr>
					<td><%= el %></td>
					<td>
						<!-- <a href="/edit/editTag?id=<%=el._id%>">Edit</a> -->
						<!-- A name change of a tag may cause many views to break so only tag adding and deleting should be allowed and not editing of names of old tags-->
						<a href="/edit/deleteTag?tagName=<%=el%>">Delete</a>
						<!-- TODO add delete route -->
					</td>
				</tr>
			<% }); %>
		</tbody>
	</table>
</body>
</html>
